.testing {
    width: percentage(5/7);
  }
  
.new {
  width: 150px;
  height: 160px;
  background-color: yellow;
  border-radius: 10px;

}

.test-class{
  // width: 150px;
  // height: 160px;
  background-color: green;
  border-radius: 10px;
}